asgiref
backports.zoneinfo
cffi
crispy-bootstrap4
cryptography
dj-database-url
Django==3.2.1
django-crispy-forms
django-extensions
django-progressive-web-app
gunicorn
MarkupSafe
pillow
psycopg2-binary
pycparser
pyOpenSSL
sqlparse
typing_extensions
tzdata
whitenoise
